.Background{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  min-height: 85vmin;
  padding: 5px;
  justify-content: center;
  align-items: center;
}



ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  
}

ul>li{
  padding: 3px;
  font-size: 17px;
}


.App {
  text-align: center;
  
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.footer{
  
  min-height: 4vh;
  background-color: #352b29;
  
  
}


.App-header {
  background-color:white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
